## PumpK's gitignore for HandBand workspace ##

#Exclude CubeIDE Trees
**/.metadata/**
**/.settings/**
**/Debug/**
**/Drivers/**
#Exclude CubeIDE Files

#Exclude vivado Trees
**/**.runs/**
**/**.cache/**
**/**.sim/**
**/**.hw/**
**/.Xil/**
#Exclude vivado File
**.debug
**.jou
**.log
**.str
**backup**
**.bkp

#Exept gitignore
!.gitignore
#Exept vivado xpr
!**.xpr